.ng-valid[required], .ng-valid.required {
    border-left: 5px solid rgba(32, 77, 32, 0.623);
}

.ng-invalid:not(form) {
    border-left: 5px solid rgb(148, 27, 27);
}

.esconderCompra{
    display: inline-block;
}

.titulo{
    padding: 1%;
    color: white;
    box-sizing: border-box;
}

.productos{
    background-color: #0b754f;
    border: solid 1px;
    border-radius: 5px;
}

.body{
    margin: 2%;
    padding: 1%;
}



.imagenes{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imagen1{
    background-image: url(../../assets/img/pan.png);
}

.imagen2{
    background-image: url(../../assets/img/papel_higienico.png);
}

.imagen3{
    background-image: url(../../assets/img/caja.jpg);
}

.imagen4{
    background-image: url(../../assets/img/garrafon.jpg);
}

.imagen5{
    background-image: url(../../assets/img/alitas.jpg);
}

.formulario{
    display: inline-block !important;
    background-color: #F8F7F5;
    margin-top: 1%;
    padding: 1%;
    font-size: 20px;
    margin-left: 0;
    box-sizing: border-box;
    width: 40%;
}

.tabla{
    background-color: #F8F7F5;
    display: inline-block !important;
    vertical-align: top;
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
    width: 58%;
}

.table{
    margin: 0 auto;
}
.table tr{
    background-color: white;
}

.tabla h2, .formulario h2{
    text-align: center;
    font-size: 26px;
}


@media (max-width: 1230px){
    .productos{
        display: block !important;
    }

    .m-4{
        margin: 0 auto;
        width: 20% !important;
        display: inline-block;
        min-width: 200px;
        vertical-align: top;
    }

    .tabla{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    
    .formulario{
        width: 100%;
    }
}